{% extends 'base.html' %}
{% set active_page = "info" %}

{% block content %}
<h1 class="mt-3 text-center text-danger">{% block title %} Support Info {% endblock %}</h1>
<p>Please cut and paste (or provide a screenshot of) this data when asking for help.</p>
<ul>
  <li><span style="display: inline-block; width: 6em;"><strong>Current:</strong></span> {{ current }}</li>
  <li><span style="display: inline-block; width: 6em;"><strong>Board:</strong></span> {{ board }}</li>
  <li><span style="display: inline-block; width: 6em;"><strong>Kernel:</strong></span> {{ kernel }}</li>
  <li><span style="display: inline-block; width: 6em;"><strong>Power:</strong></span> Undervoltage
    {% if not env_value_by_tag('under_voltage') %}not{% endif %} reported</li>
  <li><span style="display: inline-block; width: 6em;"><strong>Journal:</strong></span> {{ journal }}</li>
  <li><span style="display: inline-block; width: 6em;"><strong>DNS:</strong></span>
    {% if env_value_by_tag('dns_state') %} DNS appears to be working{% else %} The feeder cannot resolve DNS queries
    {% endif %}
  </li>
  <li><strong>Memory:</strong><br />
    <pre>{{ memory }}</pre>
  </li>
  <li><strong>Storage:</strong><br />
    <pre>{{ storage }}</pre>
  </li>
  <li><strong>Top:</strong><br />
    <pre>{{ top }}</pre>
  </li>
</ul>
{% endblock %}
