{% extends 'base.html' %}
{% set active_page = "setup" %}

{% block content %}
<h1 class="mt-3 text-center text-danger">{% block title %} Setup required parameters {% endblock %}</h1>
<div class="alert alert-danger" role="alert" {% if env_value_by_tag('dns_state') %} style="display: none;" {% endif %}>
  The app cannot resolve DNS queries. This will most likely prevent it from connecting to cloud storage.
</div>
<p>
  Please enter the information requested below.
</p>
<form method="post" action="{{ url_for('setup') }}">
  <div class="form-group row align-items-center mb-1">
    <span class="col-md">
      <label for="username">User name / email address used for Subsurface Cloud Storage</label>
    </span>
    <span class="col-md">
      <input type="email" id="username" name="username" required placeholder="name@domain" class="form-control"
             title="please enter valid email address" value="{{ env_value_by_tag('username') }}" />
    </span>
  </div>
  <div class="form-group row align-items-center mb-1">
    <span class="col-md">
      <label for="password">Password for Subsurface Cloud Storage</label>
    </span>
    <span class="col-md">
      <input type="password" id="password" name="password" required placeholder="your password" class="form-control"
             pattern="[a-zA-Z0-9\-@.+_]+" title="letters, numbers, @.+-_" value="{{ env_value_by_tag('password') }}" />
    </span>
  </div>
  <br>
  <div class="form-group">
    <button type="submit" name="submit" value="go" class="btn btn-primary">Submit</button>
  </div>
</form>
{% endblock %}
